html{
  scroll-behavior: smooth;
}

p {
  font-family: "Montserrat", sans-serif ;
}

h1{
  font-family: "Montserrat", sans-serif ;
  font-weight: bold;
}

h2{
  font-family: "Montserrat", sans-serif ;
  font-weight: bold;
}

h3{
  font-family: "Montserrat", sans-serif ;
  font-weight: bold;
}

body{
  padding: 25px;
}

header{
  padding: 1px;
  background-color: #254a66;
  size: cover;
  gap: 5px;
}

nav{
  display: flex;
  justify-content: flex-end;

}

a{
  color: white;
  font-family: "Montserrat", sans-serif ;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  justify-content: space-between;
}
a:hover{
  opacity: 50%;
}

.Reviews{

  height: 350px;
  background-color: #e05a30;
}

.About{
  padding: 10%;
  background-color: #e05a30;
}

.Contact{
  padding: 10%;
  margin: 0;
  background-color: #254a66;
}

.Services{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 50px;
}

.ServiceBlock{
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5%;
  background-color: #254a66;
  transition: transform 0.3s, opacity 0.3s;
  
}

.ServiceBlock:hover{
  transform: scale(1.05);
  background-color: #798fa1;
}

.Forms{
  display: flex;
  color: white;
  padding: 10px;
  border-radius: 10%;
  gap: 15px;
  flex-direction: column;
}

#familia{
  width: 100%;
  justify-content: flex-end;
}

#produtos{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  width: 80%;
}

.Welcome{
  display: flex;
  margin: 0%;
  gap: 10%;
  margin: 10%;
}

.Hero{
  background-image: url(img/I.png);
  background-size: cover;
  height: 500px;
  color: white;
  padding: 100px 20px;
}

#Logo{
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 20%;
  height: 10%;
}

#Slogan{
  display: flex;
  font-size: 200%;
  font-weight: bold;
  text-shadow: 4px 4px 0px #2c3e50;
  padding: 10%;
  gap: 50%;
  flex-wrap: wrap;
}